*,
*:before,
*:after {
  box-sizing: border-box;
}
html{
  overflow-x: hidden;
}

body {
  background-color: white;
  font-family: "Open Sans", sans-serif;
  color: black;
  line-height: 1.75;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}