a {
  color: $color-blue;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.tag,
.button {
  background-color: $color-grey;
  border-radius: 4px;
  color: black;
  display: inline-block;
  font-weight: 600;
  margin-bottom: .25rem;
  margin-right: .5rem;
  margin-top: .25rem;
}

.tag {
  padding: .5rem;
}

.button {
  padding: .5rem 3rem;
}

.button + .button {
  margin-right: 0;
}

.button.primary {
  background-color: $color-vibrant-purple;
  color: white;
}

.button.secondary {
  background-color: $color-lilac;
}

.button.tertiary {
  background-color: white;
  border: 2px solid $color-vibrant-purple;
  color: $color-vibrant-purple
}