.button {
  background-color: $color-grey;
  border-radius: 5px;
  color: black;
  display: inline-block;
  font-weight: 600;
  margin-bottom: .25rem;
  margin-right: .5rem;
  margin-top: .25rem;
  padding: .5rem 3rem;
  text-decoration: none;
}

.button + .button {
  margin-right: 0;
}

.button.primary {
  background-color: $color-vibrant-purple;
  color: white;
}

.button.secondary {
  background-color: $color-lilac;
}