.cardWrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1rem;
}

.cardItem-wrapper {
  display: flex;
  flex: 1;
  padding: 1rem;
}

.cardItem {
  padding: 1rem;
  align-items: center;
  text-align: center;
}

.cardItem.box {
  background-color: white;
  box-shadow: $box-shadow;
}

.cardItem-wrapper figcaption {
  margin-bottom: 1rem;
}

.cardItem-image {
  max-width: 9rem;
  margin: 0 auto;
}
