.siteHeader {
  align-items: center;
  background-color: white;
  box-shadow: $box-shadow;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  position: sticky;
  top: 0;
  z-index: 10;
  @include media(sm){
    padding: 1rem;
  }
}

.siteLogo {
  min-width: 15rem;
  width: 15rem;
  flex-shrink: 0;
}