.siteHeader {
  align-items: center;
  background-color: white;
  box-shadow: $box-shadow;
  display: flex;
  justify-content: space-between;
  padding: 1rem $gap;
  position: sticky;
  top: 0;
  z-index: 10;
}

.siteLogo {
  display: block;
  min-width: 15rem;
  width: 15rem;
  flex-shrink: 0;
}