.siteHero {
  background-color: $color-sky;
  padding: 1rem;
  text-align: center;
  @include media(sm){
    padding: 4rem $gap;
  }
}

.siteHero-content {
  margin: 0 auto;
  max-width: $max-width / 1.2;
}