.siteContent {
  max-width: $max-width;
  margin: 0 auto;
  padding: $gap;
}

.siteContent-inner {
  max-width: $max-width / 1.2;
  margin: 0 auto;
}

.sectionHeader {
  text-align: center;
  padding: $gap 0;
}

.app-holder{
  position: absolute;
  width: 100%;
  top: 82px;
}

.sectionBlock {
  margin: $gap 0;
  @include media(sm){
    display: flex;

    .sectionBlock-content {
      padding: 0 0 0 $gap;
    }

    &:nth-child(2n){
      flex-direction: row-reverse;
      .sectionBlock-content {
        padding: 0 $gap 0 0;
      }
    }
  }
}

.sectionBlock-content,
.sectionBlock-figure {
  @include media(sm){
    flex: 1;
    width: 50%;
    align-self: center;
  }
}

.featuredBlock-wrapper {
  background-image: linear-gradient($color-sky 70%, white 30%);
}

.centered {
  margin: auto;
  text-align: center;
}

.responsiveFlex {
  @include responsiveFlex;
}