.siteContent {
  max-width: $max-width;
  margin: 0 auto;
}

.siteContent-inner {
  max-width: $max-width / 1.25;
  margin: 0 auto;
  padding: 1.5rem;
}

.siteMission {
  display: flex;
}

section {
  padding: 3rem 0;
}

.sectionBlock {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  @include media(sm){
    flex-direction: row;

    .sectionBlock-content {
      padding: 0 0 0 1.5rem;
    }

    &:nth-child(2n){
      flex-direction: row-reverse;
      .sectionBlock-content {
        padding: 0 1.5rem 0 0;
      }
    }
  }
}

.sectionBlock-content,
.sectionBlock-figure {
  align-self: center;
  flex: 1;
  @include media(sm){
    width: 50%;
    align-self: center;
  }
}

.featuredBlock-wrapper {
  background-image: linear-gradient($color-sky 70%, white 30%);
}

.contactModule-wrapper {
  background-color: $color-sky;
}

.contactModule {
  text-align: center;
}

.contactModule-title {
  margin-top: 0;
}