.siteContent {
  max-width: $max-width;
  margin: 0 auto;
  padding: $pad;
}

.siteContent-inner {
  max-width: $max-width / 1.2;
  margin: 0 auto;
}

.sectionBlock {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  @include media(sm){
    flex-direction: row;

    .sectionBlock-content {
      padding: 0 0 0 $pad;
    }

    &:nth-child(2n){
      flex-direction: row-reverse;
      .sectionBlock-content {
        padding: 0 $pad 0 0;
      }
    }
  }
}

.sectionBlock-content,
.sectionBlock-figure {
  align-self: center;
  flex: 1;
  @include media(sm){
    width: 50%;
    align-self: center;
  }
}

.featuredBlock-wrapper {
  background-image: linear-gradient($color-sky 70%, white 30%);
}