figure {
  margin: 0;
  padding: 0;
}

figcaption {
  font-weight: 600;
}

img {
  max-width: 100%;
}

iframe {
  border: 0;
  width: 100%;
}

.featuredImage,
.featuredImage img,
.sectionBlock-figure img,
.blogPost-content img {
  border-radius: $border-radius;
  width: 100%;
}

.videoBlock-inner-wrapper {
  //Aspect ratio hack
  height: 0;
  overflow: hidden;
  padding-top: 591.44px / 1127.34px * 100%;
  background: white;
  position: relative;
}

.videoBlock {
  // Aspect ratio hack
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}