.siteNav {
  display: none;
  @include media(sm){
    display: block;
  }
}

.siteNav a {
  color: black;
  font-weight: 600;
  text-decoration: none;
  &:not(:last-of-type) {
    margin-right: 2rem;
  }
}