@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700&display=swap');

$max-width: 64rem;
$pad: 1.5rem;

// Colors
$color-blue: #150E60;
$color-sky: #EFF3FB;
$color-vibrant-purple: #3739B5;
$color-lilac: #D4D6FE;
$color-grey: #C4C4C4;

$box-shadow: 0px 6px 14px rgba($color-blue, 0.2);


// Global breakpoints based on the material-ui default theme
// "xs": 360,
// "sm": 600,
// "md": 960,
// "lg": 1280,
// "xl": 1920

@mixin media($size){
  @if $size == sm {
    @media screen and (min-width:600px){ @content; }
  }
  @else if $size == md {
    @media screen and (min-width:960px){ @content; }
  }
  @else if $size == mdMax {
    @media screen and (max-width:960px){ @content; }
  }
  @else if $size == lg {
    @media screen and (min-width:1280px){ @content; }
  }
  @else if $size == xl {
    @media screen and (min-width:1920px){ @content; }
  }
}