/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*end meyer reset*/

*:before,
*:after {
  box-sizing: border-box;
}

/* LIST OF ACCESSIBLE TESTED FONT COLOR OVER BACKGROUND */
/* #1C0D5A (dark blue) over #F5D6F1 (light pink) and #EFF3FB(light blue) and #C1C5EF (periwinkle) */
/* #F2F0F0 (text off white) over #3739B5 (midnight blue) and #150E60 (deep purple)  */
/* # () over #C1C5EF () */
/* #() over # () */

/* BASE HTML 10PX FOR SIMPLICITY */
/* SET UP FOR MOBILE FIRST */
html {
  color: #090808;
  font-size: 10px;
  font-family: "Arimo", sans-serif;
  scroll-behavior: smooth;
}

/* FONTS */

h1 {
  font-size: 4.5rem;
  font-weight: 700;
}

h2 {
  font-size: 4rem;
  font-weight: 700;
}

h3 {
  font-size: 3.5rem;
  font-weight: 400;
}

h4 {
  font-size: 3rem;
}

h5 {
  font-size: 2.5rem;
  font-weight: 400;
}

h6 {
  font-size: 2;
  font-weight: 700;
}

p {
  font-size: 1.8rem;
  font-weight: 400;
  max-width: 80rem;
}

button {
  background-color: white;
  border-color: ;
  border-radius: 2rem;
  color: ;
  font-size: 2.4rem;
  line-height: 2.6rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
  text-transform: capitalize;
  width: 26.6rem;
}

/*IMAGES*/
img {
  height: auto;
  max-width: 100%;
}

body {
  background-color: #f5d6f1;
  padding: 0 3rem;
}

/* LANDING */
.landing-container {
  background-color: white;
  display: grid;
  margin: 0 auto;
  width: 100%;
}

.hero {
  padding: 2rem 0;
}

.hero h1 {
  padding: 2rem 0;
  text-align: center;
}

.project-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 145px;
  padding: 2rem 0;
}

.hero h2 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.assistance-info h3 {
  text-align: center;
  padding: 3rem 0;
}

.info-input {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
  /* padding: 2rem; */
  margin: auto;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.info-input label {
  font-size: 3rem;
  font-weight: 700;
}

#fname,
#lname,
#zcode,
#pnumber,
#eaddress {
  height: 4rem;
}

.italics {
  font-style: italic;
}

.permission h4 {
  text-align: left;
  margin: auto;
  padding: 4rem 0;
}

.permission h5 {
  padding: 10rem;
}

.contact-permission-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1.5rem;

  padding-bottom: 2rem;
  text-align: center;
}

.contact-permission-box label {
  font-size: 3rem;
}

.assistance-info h5 {
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.need-want-help h5 {
  padding: 2rem 0;
}

.button-div {
  text-align: center;
}

.need-help {
  background-color: #3739b5;
  color: #f2f0f0;
}

.want-to-help {
  background-color: #eff3fb;
  color: #1c0d5a;
  margin-bottom: 5rem;
}

.get-involved h3 {
  padding: 2rem 0;
  text-align: center;
}

.get-involved button {
  background-color: #c1c5ef;
  color: #1c0d5a;
  margin-bottom: 5rem;
}

footer {
  background-color: #3739b5;
}

footer h5 {
  color: #f2f0f0;
  padding-top: 2rem;
  text-align: center;
}

footer button {
  color: #3739b5;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

/* TABLET  768 */
@media screen and (min-width: 768px) {
  .landing-background {
    padding: 2rem 4rem;
  }
  .project-logo {
    max-height: 15rem;
  }

  .hero h2 {
    line-height: 1.3;
    margin: auto;
    max-width: 60rem;
  }

  .assistance-info {
    margin: auto;
    max-width: 60rem;
  }
  .help-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

/* DESKTOP */
@media screen and (min-width: 1024px) {
  .landing-background {
    padding: 4rem 6rem;
  }

  .project-logo {
    padding: 5rem 0;
  }

  .assistance-info {
    max-width: 86rem;
  }
}
