@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700&display=swap');

*,
*:before,
*:after {
  box-sizing: border-box;
}

$color-blue: #150E60;
$color-sky: #EFF3FB;

body {
  background-color: white;
  font-family: "Open Sans", sans-serif;
  color: black;
  line-height: 1.75;
  padding: 0;
  margin: 0;
}

nav,
main,
footer {
  padding: 1rem;
}

h1,h2,h3,h4,h5,h6 {
  color: $color-blue;
}

.siteLogo {
  width: 6rem;
  height: 6rem;
}

.siteHero {
  background-color: $color-sky;
  padding: 5rem;
  text-align: center;
}

.featured-block {
  background-image: linear-gradient($color-sky 70%, white 30%);
}